*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    z-index:0;
}

.Font{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: hsla(242, 100%, 79%, 0.86);
    background-image: linear-gradient(rgba(1, 1, 5, 0.5), rgba(5, 75, 46, 0.5)),url('../images/BackgroundBoutique.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    position: fixed;
    margin: 0;
}

.PageCentrage{
    display: flex;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}





.EspaceConnexion{
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
    background-color: #223843;
    color: white;
    width: 70%;
    
}
.sectionData{
    display: flex;
    z-index:5;
    width: 70%;
    height: auto;
}

form.FormLine {
    display: table;
}

div.FormLine {
    display: table-row;
    
}

label, input {
    display: table-cell;
    margin-bottom: 30px;
}

label {
    padding-right: 10px;
}


















.BarreMenu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: hsla(0, 0%, 0%, 0.8);
    z-index: 6;
    position: fixed;

    
}


.BoutonMenu{
    display: flex;
    justify-content: center;
    width: 33%;
}

#BoutonMenu{
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /*filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(171deg) brightness(101%) contrast(101%);*/
}









.Logo{
    display: flex;
    width: 33%;
    justify-content: center;
}
#Logo{
    width: 100px;
    height: 100px;
}
.BoutonConnexion{
    display: flex;
    width: 33%;
    justify-content: center;
}
#BoutonConnexion{
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(171deg) brightness(101%) contrast(101%);
    
}

#VoyantConnexionRed{
    display: flex;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    right: 15%;
    
}

#VoyantConnexionGreen{
    display: flex;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    right: 15%;
    
}







.EspaceMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.9);
    margin-top: 120px;
    z-index: 7;
    color: white;
    width: 100%;
    position: fixed;
    height: 0;
    transition: ease-in-out 0.8s;
}
.NomSousMenu{
    display: none;
    flex-direction: row;
    width : 30%;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left:5%;
    text-align: center;
    opacity: 0;
    cursor: pointer;
}

.NomSousMenuOsiris{
    display: none;
    width : 30%;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left:5%;
    opacity: 0;
    cursor: pointer;
    
}

.NomSousMenuVanille{
    display: none;
    flex-direction: row;
    width : 30%;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
    margin-top: 50px;
    margin-left:5%;
    margin-right: 15px;
    opacity: 0;
    cursor: pointer;
}

#MenuItem{
    display: flex;
    text-align: center;
    letter-spacing: 0.18em;
    width: 60%;
}


#fleurVanille{
    max-width: 50px;
    
}
#Cacaosvg{
    max-width: 35px;
}







h1,h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    letter-spacing: 0.1em;
}
h4,p{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #EFF1F3;
    word-spacing: 0.1em;

}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #D8B4A0;
}
